:root {
  --ColorDefondo:#F2F2F0 ;
  --ColorBoton: #F20C1F;
  --ColorBotonHover:#A7BF50;
  --ColorFooter: #424242;

}

::selection {
color: #ffffff;
background-color: var(--ColorBotonHover);
}


html {
  box-sizing: border-box;
  /* 1rem = 10px */
  font-size: 62.5%;
}

body {
  background-color: var(--ColorDefondo);
  font-family: 'Asap Condensed', sans-serif;
}

body::-webkit-scrollbar {
  background-color: var(--ColorBotonHover);
  width: 6px;
  border-radius: 10px;
  border-right: solid 2px var(--ColorBotonHover);
}

body::-webkit-scrollbar-thumb {
  background-color: #F20C1F;
}


*, *:before, *:after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  font-size: 3.1rem;
  text-transform: capitalize;
  line-height: 1.25;
}
h2 {
  font-size: 2.9rem;
  text-transform: capitalize;
  line-height: 1.25;
}
h3 {
  font-size: 2.7rem;
  text-transform: capitalize;
  line-height: 1.25;
}
h4 {
  font-size: 2.5rem;
  text-transform: capitalize;
  line-height: 1.25;
}
h5 {
  font-size: 2.3rem;
  text-transform: capitalize;
  line-height: 1.25;
}

p {
  font-size: 2.6rem;
}

img {
  max-width: 100%;
}




/*utilidades*/

.stag {
  font-size: 1px;
  color: transparent;
}

.button {
  padding: 1.5rem;
  margin: 0 auto;
  text-align: center;
  display: block;
  color: var(--ColorDefondo);
  font-size: 2.1rem;
  background-color: var(--ColorBoton);
  transition: all .3s;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  transition-delay: 0s;
}

.button:hover {
  background-color: var(--ColorBotonHover);
}

figure {
    margin: 0;
}

.agotado {
  display: none;
  visibility: hidden;
}

.textsections_divide {
  text-align: center;
  margin: 4rem 0;
}

/*header*/
.header {
display: flex;
justify-content: space-between;
align-items: center;
max-width: 90vw;
margin: 0 auto;
}

/*Navegacion*/
/*estilos para el contenedor del menu*/


.img_Burguer {
max-width: 70%;
}

.icono-menu {
  margin: 4rem 5rem;
  position: relative;
  cursor: pointer;
  z-index: 1111;
}


.cont-menu {
background-color: rgb(42, 42, 42);
box-shadow: 2px 0px 5px 2px rgb(66, 66, 66);
width: 40rem;
height: 100vh;
position: absolute;
top: 0;
left: 0;
transition: all .5s ease;
z-index: 111;
}



/*estilos para js*/

.active {
transform: translate(-60rem);
background-color: black;

}


.opaciti {
background-color: rgba(0, 0, 0, .7);
transition: all .5 ease;
z-index: 1;
}



/* estilo listados menu*/

.cont-menu ul {
padding: 10rem 0 2rem 0;
list-style: none;
}

.cont-menu ul li {
color: white;
display: block;
font-size: 2.5rem;
text-decoration: none;
padding: 1rem 5rem;
cursor: pointer;
}

.cont-menu ul li:hover {
color: black;
background-color: white;

}

.cont-menu ul li a {
text-decoration: none;
color: white;
display: block;
}

.cont-menu ul li a:hover {
color: black;
}

/****************************Estilos para La pagina web******************************/

.header__h1 {
text-align: center;
}


/*Main*/

.contenedor__cards {
padding: 2rem 0;
background-image: url(/Css/Imagenes/BG_red.jpg);
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
position: relative;
z-index: 1;
}

.overlay-cards {
content: "";
top: 0;
right: 0;
bottom: 0;
left: 0;
background-color: rgba(235, 235, 235, 0.2);
position: absolute;
}

.contenedor__cards-b {
background-image: url(/Css/Imagenes/BG_yellow.jpg);
margin-top: 1rem;
padding: 2rem 0;
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
position: relative;
}

/* .contenedor__cards-b::before {
content: "";
top: 0;
right: 0;
bottom: 0;
left: 0;
background-color: rgba(235, 235, 235, 0.3);
position: absolute;
} */

.card {
text-align: center;
padding: 1rem;
position: relative;
}

.img__card {
border-radius: 25px 25px 25px 25px;
box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 50%);
transition-duration: .3s;
transition-property: transform;

}

.img__card:hover {
transform: scale(1.1);
}

/********************************************** Responsive*/

@media (min-width: 376px) {

.contenedor__cards-b {
  margin-top: 3rem;
}

.alineacion__cards {
  padding: 2rem 0;
 display: grid;
 grid-template-columns: repeat(2, 1fr);
 gap: .5rem;
}
}

@media (min-width: 768px) {

.contenedor__cards,
.contenedor__cards-b {
  border-radius: 15px;
  padding: 2rem 1rem;
  margin-top: 3rem;
}


.alineacion__cards {
  grid-template-columns: repeat(3, 1fr);
  row-gap: 2rem;
} 

.button {
  max-width: 60%;
  border-radius: 15px;
}
}

@media (min-width: 1024px) {

.contenedor {
  max-width: 1200px;
  margin: 0 auto;
}

.contenedor__cards,
.contenedor__cards-b {
  border-radius: 15px;
  padding: 2rem 6rem;
  margin-top: 3rem;
}

.card {
  flex: 2.5; 
}

.alineacion__cards {
  display: flex;
  justify-content: center;
  gap: 2.5rem;
}

.img__card {
  max-width: 89%;
}

.img_lot {
  max-width: 60%;
}

}

@media (min-width: 1440px) {
.img__card {
  max-width: 90%;
}

.img_lot {
  max-width: 60%;
}
}

.h2_prefoot {
margin: 0 auto;
max-width: 120rem;
text-align: center;
color: var(--ColorBoton);
}


/**************************************************************Footer************************/

.footer {
color: #fff;
text-align: center;
margin-top: 2rem;
padding: 1.5rem 0;
background-color: var(--ColorFooter);
}

footer div p {
font-size: 1.7rem;
}

.if-footer {
height: 300px;
width: 100%;
}

.footer div strong {
color: var(--ColorDefondo);
}

/***************** Contacto **********************/

.header__contacto {
background-image: url(/Css/Imagenes/SplitShire-9315-min-1-1024x683\ \(1\)\ \(1\).jpg);
background-repeat: no-repeat;
background-size: cover;
text-align: center;
position: relative;

}

.header__contacto::before {
content: '';
background-color: rgba(255, 255, 255, 0.651);
top: 0;
right: 0;
bottom: 0;
left: 0;
position: absolute;
}

.cont_button {
display: flex;
justify-content: center;
align-items: center;
}

.contacto_text {
position: relative;
}

.Logo-cont {
position: relative;
}

.sec_contact {
padding: 2rem 0;
}

.alpm_contact {
color: #F75757;
}

.Span_cotact {
font-size: 2.2rem;
}

.Span_cotact a {
color: #F75757;
}

.redes_contact {
display: flex;
justify-content: center;
align-items: center;
}

.frame_contact {
position: relative;
}

@media (min-width: 1024px) {

.header__contacto {
  height: 100vh;
}

.sec_contact {
  position: relative;
  background-color: rgb(12, 12, 12);
  flex: 1;
  color: var(--ColorDefondo);
}

.contact_iframe {
  flex: 1;
  display: flex;
  align-items: center;
}

.Contact_div {
  margin: 0 auto;
  display: flex;
  max-width: 120rem;
}

}

